<!doctype html> <html ng-app="blumaApp"> <head> <meta charset="utf-8"> <title> Bluma </title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/main.3110aabf.css"> <link rel="stylesheet" href="styles/vendor.a37abd23.css"> </head> <body ng-controller="MainCtrl" ng-cloak> <div class="ui fixed pointing basic menu"> <!-- <img class="circular ui image" src="../images/vat.jpg" alt="logo" style="width: 40px; height: 40px;"/> --> <h2 style="padding-left: 30px; padding-top: 11px; color: white"> <img class="ui image" src="../images/logo.d773f6a0.png" alt="logo" style="height: 40px"> <!-- Bluma (bulk sms and email service) --> </h2> <a class="item" href="#sendmessage" title="Send Message" ng-if="currentUser != null"> <i class="icon red send"> </i> Send Message </a> <a class="item" href="#topup" title="Top Up" ng-if="currentUser != null"> <i class="icon red external square"> </i> Top Up </a> <div class="right menu" ng-show="currentUser != null"> <div class="ui dropdown item" id="userDropdown" style="font-weight: 600"> <i class="icon red user"> </i> {{currentUser.fullname}} <i class="dropdown icon"> </i> <div class="menu"> <a class="item" href="#profile" title="Manage Profile"> <i class="icon red edit"> </i> Profile </a> <a class="item" title="Logout" ng-click="logoff()"> <i class="icon red sign out"> </i> Logout </a> </div> </div> </div> </div> <div class="ui left basic vertical labeled icon visible sidebar menu" ng-if="currentUser != null" style="padding-top: 55px" id="sideMenu"> <a class="item" href="#/" style="border-top: 1px white solid"> <i class="dashboard brown icon"> </i> Dashboard </a> <!-- <a class="item" href="#sendmessage">
                <i class="send brown icon">
                </i>
                Send Message
            </a> --> <a class="item" href="#messages"> <i class="exchange brown icon"> </i> Message Logs </a> <a class="item" href="#contacts"> <i class="book brown icon"> </i> Contacts </a> <a class="item" href="#groups"> <i class="cloud download brown icon"> </i> Groups </a> <a class="item" href="#senderids"> <i class="smile brown icon"> </i> Sender Ids </a> <a class="item" href="#messagetemplates"> <i class="cloud upload brown icon"> </i> Message Templates </a> </div> <div class="ui left vertical labeled icon visible sidebar menu" ng-if="currentUser != null" style="padding-top: 55px" id="smallSideMenu"> <a class="item" href="#/" style="border-top: 1px white solid"> <i class="dashboard brown icon"> </i> Dashboard </a> <!-- <a class="item" href="#sendmessage">
                <i class="send brown icon">
                </i>
                Send Message
            </a> --> <a class="item" href="#messages"> <i class="exchange brown icon"> </i> Message Logs </a> <a class="item" href="#contacts"> <i class="book brown icon"> </i> Contacts </a> <a class="item" href="#groups"> <i class="cloud download brown icon"> </i> Groups </a> <a class="item" href="#senderids"> <i class="smile brown icon"> </i> Sender Ids </a> <a class="item" href="#messagetemplates"> <i class="cloud upload brown icon"> </i> Message Templates </a> </div> <div class="ui container"> <div ng-view style="margin-top: 80px"> </div> </div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID --> <script>! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
            (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
            }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');</script> <script src="scripts/vendor.9b98458b.js"></script> <script src="scripts/scripts.fab902d7.js"></script> </body> </html>