<div class="with-border">
    <div class="ui brown header">
        Contacts
    </div>
    <div class="ui divider">
    </div>
    <div class="ui stackable grid">
        <div class="column">
            <div class="column">
                <div class="ui floating labeled icon dropdown button">
                    <i class="filter icon">
                    </i>
                    <span class="text">
                        Filter
                    </span>
                    <div class="menu">
                        <div class="header">
                            Name
                        </div>
                        <div class="ui input">
                            <input type="text" name="name"/>
                        </div>
                        <div class="divider">
                        </div>
                        <div class="item center aligned">
                            <button class="positive ui button">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ui basic button right floated" ng-click="exportContacts()">
                    Export
                </div>
                <div class="ui basic button right floated" ng-click="UploadFile()">
                    Upload File
                </div>
                <div class="ui default button right floated" ng-click="DownloadTemplate()">
                    Download Template
                </div>
                <div class="ui positive button right floated" ng-click="addRec()">
                    Add Contact
                </div>
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Groups
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in dataList">
                            <td class="collapsing">
                                {{$index + 1}}
                            </td>
                            <td>
                                {{itm.Name}}
                            </td>
                            <td>
                                {{itm.Email}}
                            </td>
                            <td>
                                {{itm.PhoneNumber}}
                            </td>
                            <!-- <td>
                                {{itm.DateOfBirth  | date:'fullDate'}}
                            </td> -->
                            <td>
                                {{itm.GroupNames}}
                            </td>
                            <td class="right aligned collapsing">
                                <i class="edit icon" ng-click="editRec(itm)">
                                </i>
                                <i class="close icon" ng-click="delRec(itm)">
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui buttons right floated">
                    <button class="ui icon blue button" ng-click="previousPage()">
                        <i class="caret up icon">
                        </i>
                    </button>
                    <button class="ui basic button " disabled="">
                        Showing {{dataList.length}} of {{totalRecords}}
                    </button>
                    <button class="ui icon blue button" ng-click="nextPage()">
                        <i class="caret down icon">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal" id="addContactModal" >
        <i class="close icon">
        </i>
        <div class="header">
            {{modalHeader}}
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>
                        Name
                    </label>
                    <input type="text" name="name" placeholder="Name" ng-model="single.Name"/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>
                            Phone Number
                        </label>
                        <input type="tel" name="phone" placeholder="Phone Number" ng-model="single.PhoneNumber"/>
                    </div>
                    <div class="field">
                        <label>
                            Email
                        </label>
                        <input type="email" name="email" placeholder="Email" ng-model="single.Email"/>
                    </div>
                    <!-- <div class="field">
                        <label>
                            Date of Birth
                        </label>
                        <input type="date" name="dateofbirth" placeholder="Date of Birth" ng-model="single.DateOfBirth"/>
                    </div> -->
                </div>
                <h4 class="ui dividing header">
                    Select Groups
                </h4>
                <div class="ui two column stackable grid segment">
                    <div class="column" ng-repeat="x in groups">
                        <div class="ui checkbox">
                            <input type="checkbox" id='{{x.Id}}' ng-model='x.Checked'/>
                            <label>
                                {{x.Name}}
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" ng-click="add()">
                Add
                <i class="check icon">
                </i>
            </div>
        </div>
    </div>
</div>
