<div class="with-border">
    <!--
        <div class="ui header">
            Dashboard
        </div>
    -->
    <div class="ui hidden divider">
    </div>
    <div class="ui grid">
        <div class="column">
            <h3 class="ui left floated header">
                Dashboard
            </h3>
            <!--
                <h3 class="ui left floated header">
                    Go Back
                </h3>
            -->
            <div class="ui compact right floated stackable menu">
                <a class="item">
                    <i class="icon file text outline">
                    </i>
                    SMS Balance
                    <div class="floating ui red label">
                        {{summaries.SMSBalance}}
                    </div>
                </a>
                <a class="item">
                    <i class="icon mail">
                    </i>
                    Email Balance
                    <div class="floating ui teal label">
                        {{summaries.EmailBalance}}
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui divider">
    </div>
    <div class="ui stackable grid">
        <div class="center aligned column">
            <div class="ui four stackable cards">
                <div class="ui card">
                    <div class="content">
                        <div class="ui green statistic">
                            <a class="value">
                                {{summaries.SentEmails}}
                            </a>
                        </div>
                    </div>
                    <a class="ui bottom attached button" href="#messages">
                        Sent Emails
                        <i class="caret right blue icon">
                        </i>
                    </a>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="ui teal statistic">
                            <a class="value">
                                {{summaries.SentSMS}}
                            </a>
                        </div>
                    </div>
                    <a class="ui bottom attached button" href="#messages">
                        Sent SMS
                        <i class="caret right blue icon">
                        </i>
                    </a>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="ui pink statistic">
                            <a class="value">
                                {{summaries.PendingEmails}}
                            </a>
                        </div>
                    </div>
                    <a class="ui bottom attached button" href="#messages">
                        Pending Emails
                        <i class="caret right blue icon">
                        </i>
                    </a>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="ui red statistic">
                            <a class="value">
                                {{summaries.PendingSMS}}
                            </a>
                        </div>
                    </div>
                    <a class="ui bottom attached button" href="#messages">
                        Pending SMS
                        <i class="caret right blue icon">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider">
    </div>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui segment">
                <h4 class="ui horizontal divider header">
                    <i class="tags icon">
                    </i>
                    Recent Messages
                </h4>
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first">
                        Sent
                    </a>
                    <a class="item" data-tab="second">
                        Pending
                    </a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first">
                    <table class="ui celled stackable table">
                        <thead>
                            <tr>
                                <th>
                                    Date Created
                                </th>
                                <th>
                                    Receiver
                                </th>
                                <th>
                                    Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="itm in sentMessages">
                                <td >
                                    {{itm.Created | date:'shortDate'}}
                                </td>
                                <td>
                                    {{ itm.Receiver}}
                                </td>
                                <td>
                                    {{itm.Type}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second">
                    <table class="ui celled stackable table">
                        <thead>
                            <tr>
                                <th>
                                    Date Created
                                </th>
                                <th>
                                    Receiver
                                </th>
                                <th>
                                    Type
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="itm in pendingMessages">
                                <td >
                                    {{itm.Created | date:'shortDate'}}
                                </td>
                                <td>
                                    {{ itm.Receiver}}
                                </td>
                                <td>
                                    {{itm.Type}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h4 class="ui horizontal divider header">
                    <i class="tags icon">
                    </i>
                    New Contacts
                </h4>

                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <!-- <th>
                                Groups
                            </th>
                            <th>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in contacts">
                            <td class="collapsing">
                                {{$index + 1}}
                            </td>
                            <td>
                                {{itm.Name}}
                            </td>
                            <td>
                                {{itm.Email}}
                            </td>
                            <td>
                                {{itm.PhoneNumber}}
                            </td>
                            <!-- <td>
                                {{itm.DateOfBirth  | date:'fullDate'}}
                            </td> -->
                            <!-- <td>
                                {{itm.GroupNames}}
                            </td> 
                            <td class="right aligned collapsing">
                                <i class="edit icon" ng-click="editRec(itm)">
                                </i>
                                <i class="close icon" ng-click="delRec(itm)">
                                </i>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui divider">
    </div>
</div>
