<div class="with-border">
    <div class="ui brown header">
        Groups
    </div>
    <div class="ui divider"></div>
    <div class="ui stackable grid">
        <div class="column">
            <div class="column">
                <div class="ui floating labeled icon dropdown button">
                    <i class="filter icon"></i>
                    <span class="text">Filter</span>
                    <div class="menu">
                        <div class="header">
                            Name
                        </div>
                        <div class="ui input">
                            <input type="text" name="name">
                        </div>
                        <div class="divider"></div>
                        <div class="item center aligned">
                            <button class="positive ui button">Search</button>
                        </div>
                    </div>
                </div>
                <div class="ui positive button right floated" ng-click="addRec()">
                    New
                </div>
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Date Created
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in dataList">
                            <td class="collapsing">
                                {{$index + 1}}
                            </td>
                            <td>{{itm.Name}}</td>
                            <td>{{itm.Description}}</td>
                            <td>{{itm.Created | date:'mediumDate'}}</td>                           
                            <td class="right aligned collapsing">
                                <i class="edit icon" ng-click="editRec(itm)"></i> <i class="close icon" ng-click="delRec(itm)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui buttons right floated">
                    <button class="ui icon blue button" ng-click="previousPage()">
                        <i class="angle double left icon"></i>
                    </button>
                    <button class="ui basic button " disabled="">
                        Showing {{dataList.length}} of {{totalRecords}}
                    </button>
                    <button class="ui icon blue button" ng-click="nextPage()">
                        <i class="angle double right icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal" id="addGroupModal" >
        <i class="close icon"></i>
        <div class="header">{{modalHeader}}</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Group Name" ng-model="single.Name">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="2" ng-model="single.Description"></textarea>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" ng-click="add()">
                Add
                <i class="check icon"></i>
            </div>
        </div>
    </div>
</div>
