<div class="with-border">
    <div class="ui brown header">
        Message Logs
    </div>
    <div class="ui divider">
    </div>
    <div class="ui stackable grid">
        <div class="column">
            <div class="column">
                <!-- <div class="ui floating labeled icon dropdown button">
                    <i class="filter icon">
                    </i>
                    <span class="text">
                        Filter
                    </span>
                    <div class="menu">
                        <div class="header">
                            Name
                        </div>
                        <div class="ui input">
                            <input type="text" name="name"/>
                        </div>
                        <div class="divider">
                        </div>
                        <div class="item center aligned">
                            <button class="positive ui button">
                                Search
                            </button>
                        </div>
                    </div>
                </div> -->
                <div class="ui basic red button" ng-click="getPending()">
                    <i class="mail square icon">
                    </i>
                    Pending
                </div>
                <div class="ui basic green button" ng-click="getSent()">
                    <i class="inbox icon">
                    </i>
                    Sent
                </div>
                <h4 class="ui dividing header">
                    {{type.toUpperCase()}} Messages
                </h4>
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Receipient
                            </th>
                            <th>
                                Sender Id
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in dataList">
                            <td class="collapsing">
                                {{$index + 1}}
                            </td>
                            <td>
                                {{itm.Created | date:'mediumDate'}}
                            </td>
                            <td>
                                {{itm.Subject}}
                            </td>
                            <td>
                                {{itm.MessageContent}}
                            </td>
                            <td>
                                {{itm.Receipient}}
                            </td>
                            <td>
                                {{itm.Sender}}
                            </td>
                            <td>
                                {{itm.Type}}
                            </td>
                            <td class="right aligned collapsing">
                                <i class="retweet icon" ng-click="resend(itm)">
                                </i>
                                <!-- <i class="close icon" ng-click="delRec(itm)">
                                </i>  -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui buttons right floated">
                    <button class="ui icon blue button" ng-click="previousPage()">
                        <i class="angle double left icon">
                        </i>
                    </button>
                    <button class="ui basic button " disabled="">
                        Showing {{dataList.length}} of {{totalRecords}}
                    </button>
                    <button class="ui icon blue button" ng-click="nextPage()">
                        <i class="angle double right icon">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
