<div class="with-border">
    <div class="ui brown header">
        Send a quick message
    </div>
    <div class="ui divider">
    </div>
    <div>
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="first">
                Send SMS
            </a>
            <a class="item" data-tab="second">
                Send Email
            </a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
            <div class="ui stackable grid">
                <div class="column" style="padding-left: 25%;padding-right: 25%;">
                    <h4 class="ui dividing header">
                        Send SMS Message
                    </h4>
                    <form class="ui form">
                        <div class="field">
                            <label>
                                Sender Id
                            </label>
                            <select class="ui dropdown" ng-model="message.SSender" ng-options="a.Id as a.Name for a in senderids" ng-if="senderids" name="senderid">
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id='selecttemplate' ng-model='message.selecttemplate' ng-checked="showTemplate()"/>
                                <label>
                                    Select custom template
                                </label>
                            </div>
                        </div>
                        <div class="field" ng-if="message.selecttemplate">
                            <label>
                                Message Template
                            </label>
                            <select class="ui dropdown" ng-model="message.STemplate" ng-options="a as a.Title for a in templates" ng-if="templates" name="selecttemplate" ng-change="SMSTemplateSelected()">
                            </select>
                        </div>
                        <div class="field">
                            <label>
                                Message
                            </label>
                            <textarea rows="3" ng-model="message.SMessage">
                            </textarea>
                        </div>
                        <div class="field">
                            <label>
                                Enter Phone Numbers
                            </label>
                            <textarea rows="2" ng-model="message.PhoneNumbers" placeholder="eg. 0201234567, 0244123456, 0262111222">
                            </textarea>
                        </div>
                        <div class="ui teal button" ng-click="sendSMSMessage()">
                            Send SMS Message
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            <div class="ui stackable grid">
                <div class="column" style="padding-left: 25%;padding-right: 25%;">
                    <h4 class="ui dividing header">
                        Send Email Message
                    </h4>
                    <form class="ui form">
                        <div class="field">
                            <label>
                                Sender Id
                            </label>
                            <select class="ui dropdown" ng-model="message.eSender" ng-options="a.Id as a.Name for a in senderids" ng-if="senderids" name="senderid">
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id='selecttemplate' ng-model='message.selecttemplate' ng-checked="showTemplate()"/>
                                <label>
                                    Select custom template
                                </label>
                            </div>
                        </div>
                        <div class="field" ng-if="message.selecttemplate">
                            <label>
                                Message Template
                            </label>
                            <select class="ui dropdown" ng-model="message.ETemplate" ng-options="a as a.Title for a in templates" ng-if="templates" name="selecttemplate" ng-change="EmailTemplateSelected()">
                            </select>
                        </div>
                        <div class="field" >
                            <label>
                                Subject
                            </label>
                            <input type="text" name="subject" placeholder="Subject" ng-model="message.ESubject"/>
                        </div>
                        <div class="field">
                            <label>
                                Message
                            </label>
                            <textarea rows="3" ng-model="message.EMessage">
                            </textarea>
                        </div>
                        <div class="field">
                            <label>
                                Enter Email Addresses
                            </label>
                            <textarea rows="2" ng-model="message.Emails" placeholder="eg. biggash730@mail.com, k_kobi@yahoo.com, info@somemail.co.gh">
                            </textarea>
                        </div>
                        <div class="ui blue right floated button" ng-click="sendEmailMessage()">
                            Send Email Message
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
