<div class="with-border">
    <div class="ui header">
        Reports
    </div>
    <div class="ui divider">
    </div>
    <div class="ui form segment">
        <div class="two fields">
            <div class="field">
                <label>
                    Month
                </label>
                <select class="ui dropdown" ng-model="report.Month" ng-options="a.Id as a.Name for a in months" ng-if="months"></select>
            </div>
            <div class="field">
                <label>
                    Year
                </label>
                <input type="text" placeholder="eg. 2010" ng-model="report.Year"/>
            </div>
        </div>
        <div class="ui labeled icon green button " ng-click="Generate()">
            <i class="recycle icon">
            </i>
            Generate
        </div>
    </div>
    <div ng-show="showResults" >
            <div class="ui labeled icon right floated purple button" ng-click="Download()">
                <i class="download icon"></i>
                Download
            </div>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Invoice #</th>
                    <th>Details</th>
                    <th>Ex Vat(₵)</th>
                    <th>VAT+NHIL (17.5%)</th>
                    <th>Total(₵)</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody ng-repeat="itm in data">
                <tr>
                    <td class="left floated">{{$index + 1}}</td>
                    <td >{{itm.Date | date:'mediumDate'}}</td>
                    <td >{{itm.InvoiceNumber}}</td>
                    <td >{{itm.Details}}</td>
                    <td class="right aligned">{{ itm.ExVat | number:2 }}</td>
                    <td class="right aligned">{{ itm.Vat | number:2 }}</td>
                    <td class="right aligned">{{ itm.Total | number:2 }}</td>
                    <td>{{itm.Type}}</td>
                </tr>
                </tbody>
            </table>
            <div class="right floated">
                <p><span>Total Output Vat: </span><span >GH₵ {{ TotalOutputVat | number:2 }}</span></p>
                <p><span>Total Input Vat: </span><span >GH₵ {{ TotalInputVat | number:2 }}</span></p>
            </div>
        </div>
    </div>
</div>
</div>
