<div class="with-border">
    <div class="ui brown header">
        Schedule Message
    </div>
    <div class="ui divider">
    </div>
    <h4 class="ui header">
        Under Construction
    </h4>
</div>
