<div class="with-border">
    <div class="ui brown header">
        Send Message
    </div>
    <a class="ui basic red button" href="#quicksend">
        <i class="send outline icon">
        </i>
        Quick Send
    </a>
    <a class="ui basic green button" href="#schedulemessage">
        <i class="inbox icon">
        </i>
        Schedule Message
    </a>
    <div class="ui divider">
    </div>
    <div class="ui stackable grid segment ">
        <div class="eight wide column">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>
                            Message Type
                        </label>
                        <select class="ui dropdown" ng-model="message.MessageType" ng-options="a as a for a in types" ng-if="types" name="messagetype" ng-change="showSubject()">
                        </select>
                    </div>
                    <div class="field">
                        <label>
                            Sender Id
                        </label>
                        <select class="ui dropdown" ng-model="message.Sender" ng-options="a.Id as a.Name for a in senderids" ng-if="senderids" name="senderid">
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id='selecttemplate' ng-model='message.selecttemplate' ng-checked="showTemplate()"/>
                        <label>
                            Select custom template
                        </label>
                    </div>
                </div>
                <div class="field" ng-if="message.selecttemplate">
                    <label>
                        Message Template
                    </label>
                    <select class="ui dropdown" ng-model="message.Template" ng-options="a as a.Title for a in templates" ng-if="templates" name="selecttemplate" ng-change="templateSelected()">
                    </select>
                </div>
                <div class="field" ng-if="showtitle">
                    <label>
                        Subject
                    </label>
                    <input type="text" name="subject" placeholder="Subject" ng-model="message.Subject"/>
                </div>
                <div class="field">
                    <label>
                        Message
                    </label>
                    <textarea rows="3" ng-model="message.Message">
                    </textarea>
                </div>
                <h4 class="ui dividing header">
                    Select Groups
                </h4>
                <div class="ui green button" ng-click="showReceipients()">
                    Show Receipients
                </div>
                <div class="ui two column stackable grid segment">
                    <div class="column" ng-repeat="x in message.Groups">
                        <div class="ui checkbox">
                            <input type="checkbox" id='{{x.Id}}' ng-model='x.Checked' />
                            <label>
                                {{x.Name}}
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="eight wide column">
            <h4 class="ui dividing header">
                Receipients
            </h4>
            <table class="ui celled striped table" ng-if="message.MessageType">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th ng-if="message.MessageType == 'SMS'">
                            Phone Number
                        </th>
                        <th ng-if="message.MessageType == 'Email'">
                            Email
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itm in message.Contacts">
                        <td class="collapsing">
                            {{$index + 1}}
                        </td>
                        <td>
                            {{itm.Name}}
                        </td>
                        <td ng-if="message.MessageType == 'SMS'">
                            {{itm.PhoneNumber}}
                        </td>
                        <td ng-if="message.MessageType == 'Email'">
                            {{itm.Email}}
                        </td>
                        <td class="right aligned collapsing">
                            <i class="close icon" ng-click="remove($index)">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui green fluid button" ng-click="sendMessage()">
                Send Message
            </div>
        </div>
    </div>
</div>
