<div class="ui grid center aligned">
    <div class="column">
        <h2 class="ui themetxcolor image header">
            Create a New Account
        </h2>
    </div>
</div>
<div class="ui middle grid" style=" padding-left: 25%;">
    <div class="column signup-view">
        <form class="ui large form" >
            <div class="ui stacked blue segment">
                <div class="field">
                    <label>
                        FullName
                    </label>
                    <div class="ui left icon input">
                        <i class="tags red icon">
                        </i>
                        <input type="text" name="fullname" placeholder="Full Name" ng-model="user.FullName"/>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>
                            Username
                        </label>
                        <div class="ui left icon input">
                            <i class="tag red icon">
                            </i>
                            <input type="text" name="username" placeholder="Username" ng-model="user.UserName"/>
                        </div>
                    </div>
                    <div class="field">
                        <label>
                            Email
                        </label>
                        <div class="ui left icon input">
                            <i class="mail red icon">
                            </i>
                            <input type="email" name="email" placeholder="Email" ng-model="user.Email"/>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>
                            Phone Number
                        </label>
                        <div class="ui left icon input">
                            <i class="phone red icon">
                            </i>
                            <input type="tel" name="phone" placeholder="Phone Number" ng-model="user.PhoneNumber"/>
                        </div>
                    </div>
                    <div class="field">
                        <label>
                            Date of Birth
                        </label>
                        <div class="ui left icon input">
                            <i class="calendar red icon">
                            </i>
                            <input type="date" name="dateofbirth" placeholder="Date of Birth" ng-model="user.DateOfBirth"/>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="tag red icon">
                            </i>
                            <input type="password" name="password" placeholder="Password" ng-model="user.Password"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="tag red icon">
                            </i>
                            <input type="password" name="confirmpassword" placeholder="Confirm Password" ng-model="user.ConfirmPassword"/>
                        </div>
                    </div>
                </div>
                <div class="actions" style=" padding-left: 0%;">
                    <div class="ui positive right labeled icon large button" ng-click="register()">
                        Register
                        <i class="check icon">
                        </i>
                    </div>
                </div>
            </div>
        </form>
        <div class="ui message">
            Already have an account?
            <a href="#login" class="themetxcolor">
                login
            </a>
        </div>
    </div>
</div>
