<div class="with-border">
    <div class="ui brown header">
        Top Up Bundles
    </div>
    <div class="ui divider">
    </div>
    <div class="ui three stackable cards">
        <div class="card">
            <div class="center aligned content">
                <div class="header">
                    Gingerbread
                </div>
                <div class="description">
                    <div class="ui tiny statistic">
                        <div class="value">
                            GHS 5.00
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        SMS Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        Email Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
            </div>
            <a class="ui bottom attached button" ng-click="makepayment(5)">
                <i class="add icon">
                </i>
                Top Up
            </a>
        </div>
        <div class="card">
            <div class="center aligned content">
                <div class="header">
                    Honeycomb
                </div>
                <div class="description">
                    <div class="ui tiny statistic">
                        <div class="value">
                            GHS 10.00
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        SMS Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        Email Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
            </div>
            <a class="ui bottom attached button" ng-click="makepayment(10)">
                <i class="add icon">
                </i>
                Top Up
            </a>
        </div>
        <div class="card">
            <div class="center aligned content">
                <div class="header">
                    Ice Cream Sandwich
                </div>
                <div class="description">
                    <div class="ui tiny statistic">
                        <div class="value">
                            GHS 20.00
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        SMS Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        Email Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
            </div>
            <a class="ui bottom attached button" ng-click="makepayment(20)">
                <i class="add icon">
                </i>
                Top Up
            </a>
        </div>
        <div class="card">
            <div class="center aligned content">
                <div class="header">
                    Jelly Bean
                </div>
                <div class="description">
                    <div class="ui tiny statistic">
                        <div class="value">
                            GHS 50.00
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        SMS Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        Email Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
            </div>
            <a class="ui bottom attached button" ng-click="makepayment(50)">
                <i class="add icon">
                </i>
                Top UP
            </a>
        </div>
        <div class="card">
            <div class="center aligned content">
                <div class="header">
                    KitKat
                </div>
                <div class="description">
                    <div class="ui tiny statistic">
                        <div class="value">
                            GHS 100.00
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        SMS Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        Email Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
            </div>
            <a class="ui bottom attached button" ng-click="makepayment(100)">
                <i class="add icon">
                </i>
                Top Up
            </a>
        </div>
        <div class="card">
            <div class="center aligned content">
                <div class="header">
                    Lollipop
                </div>
                <div class="description">
                    <div class="ui tiny statistic">
                        <div class="value">
                            GHS 200.00
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        SMS Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui hidden divider">
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic button">
                        Email Credit
                    </div>
                    <a class="ui basic left pointing label">
                        1,048
                    </a>
                </div>
            </div>
            <a class="ui bottom attached button" ng-click="makepayment(200)">
                <i class="add icon">
                </i>
                Top Up
            </a>
        </div>
    </div>
    <div class="ui red header">
        Important Note
    </div>
    <div class="ui divider">
    </div>
    <div class="ui message">
        <p>
            After successful payment, kindly forward the confirmation message from MPower and email address used to register on the Bluma platform to 0246903913 via SMS. Your account will be updated with the purchased bundle after verification.
        </p>
        <p>
            You can call 0246903913/0207985828 for help.
        </p>
    </div>
</div>
