<div class="with-border">
    <div class="ui basic brown button" ng-click="goBack()">
        <i class="angle double left icon">
        </i>
        Back
    </div>
    <div class="ui brown header">
        Upload File
    </div>
    <div class="ui divider">
    </div>
    <form class="ui form">
        <div class="field">
            <label>
                Select File
            </label>
            <input type="file" id="myFile" name='myFile' accept=".csv"/>
        </div>
    </form>
    <div class="ui divider">
    </div>
    <div class="ui stackable grid" ng-if="dataList.length >0">
        <div class="column">
            <div class="column">
                <table class="ui celled striped table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <!-- <th>
                                Date of Birth
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in dataList" ng-if="dataList">
                            <td class="collapsing">
                                {{$index + 1}}
                            </td>
                            <td>
                                {{itm.Name}}
                            </td>
                            <td>
                                {{itm.Email}}
                            </td>
                            <td>
                                {{itm.PhoneNumber}}
                            </td>
                            <!-- <td>
                                {{itm.DateOfBirth  | date:'fullDate'}}
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="ui divider">
                </div>
                <form class="ui form">
                    <h4 class="ui dividing header">
                    Select Groups
                </h4>
                <div class="ui two column stackable grid segment">
                    <div class="column" ng-repeat="x in groups">
                        <div class="ui checkbox">
                            <input type="checkbox" id='{{x.Id}}' ng-model='x.Checked'/>
                            <label>
                                {{x.Name}}
                            </label>
                        </div>
                    </div>
                </div>
                </form>
                <div class="ui positive button right floated" ng-click="save()">
                    Save Contacts
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal" id="addModal" >
        <i class="close icon">
        </i>
        <div class="header">
            {{modalHeader}}
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>
                        Name
                    </label>
                    <input type="text" name="name" placeholder="Name" ng-model="single.Name"/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>
                            Phone Number
                        </label>
                        <input type="tel" name="phone" placeholder="Phone Number" ng-model="single.PhoneNumber"/>
                    </div>
                    <div class="field">
                        <label>
                            Email
                        </label>
                        <input type="email" name="email" placeholder="Email" ng-model="single.Email"/>
                    </div>
                    <!-- <div class="field">
                        <label>
                            Date of Birth
                        </label>
                        <input type="date" name="dateofbirth" placeholder="Date of Birth" ng-model="single.DateOfBirth"/>
                    </div> -->
                </div>
                <h4 class="ui dividing header">
                    Select Groups
                </h4>
                <div class="ui two column stackable grid segment">
                    <div class="column" ng-repeat="x in groups">
                        <div class="ui checkbox">
                            <input type="checkbox" id='{{x.Id}}' ng-model='x.Checked'/>
                            <label>
                                {{x.Name}}
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" ng-click="add()">
                Add
                <i class="check icon">
                </i>
            </div>
        </div>
    </div>
</div>
